/* Reset some basic styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar styles */
.navbar {
  color: white;
  padding: 1rem 0;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 75%;
  height: 100%;
  background-color: #1f2937; /* Tailwind's gray-800 */
  z-index: 1000;
}

.menu.open {
  display: block;
  animation: slideIn 0.3s forwards;
}

.menu.close {
  animation: slideOut 0.3s forwards;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

@media (min-width: 768px) {
  .menu {
    width: 30%;
  }
}

@media (min-width: 640px) {
  .fullImage {
    height: 800px;
    width: 1600px;
    margin: 0 auto;
  }
}
